/* BASE LAYOUT FLEXBOX */

body {
	padding: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: auto;
	height: 1200px;
	overflow-x: hidden;
}

.wrapper {
	display: flex;
	flex-direction: column;
	width: 1200px;
	flex: 1;
	margin: auto;
}

.wrapper_contact {
	display: flex;
	flex-direction: column;
	align-self: center;
	width: 1200px;
	margin: auto;
	align-items: end;
}

.logo_top img {
	margin: 20px 0 10px 20px;
	width: 180px;
	transition-duration: 0.35s;
	position: absolute;
	top: 5px;
}

.logo_top img:hover {
	margin-bottom: 6px;
	width: 190px;
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	height: 120px;
	margin: 0;
	width: 100%;
	background-color: #91002d;
	justify-content: center;
}

.footer {
	background-color: #91002d;
	display: flex;
	justify-content: center;
	margin: 20px 0 0 0;
	padding-top: 40px;
}

.footer .middle_logo {
	margin: 0 100px;
	align-items: center;
}

.footer .middle_logo img {
	margin: 10px 10px;
}

.head3 {
	background-color: #91002d;
	width: 320px;
	margin: 20px;
	padding: 15px;
	border-radius: 20px;
}

.head4 {
	background-color: #91002d;
	width: 600px;
	margin: 120px 10px;
	padding: 15px;
	border-radius: 20px;
}

.wie {
	margin: 100px 0;
	display: flex;
	height: 300px;
	flex-direction: column;
}

.wie ul {
	margin: 100px;
}

.text1 {
	background-color: #4d72ce;
}

.text1,
.text2 {
	padding: 25px;
	width: 700px;
	border-radius: 20px;
	align-self: end;
}

.keuzevakken {
	margin: 6px;
	display: flex;
}

.keuzevakkentabel {
	margin: 40px 0;
	display: flex;
	flex-direction: column;
	align-items: start;
}

.keuzevakkentabel h3,
.jaar_1_tabel h3 {
	color: #91002d;
	margin: 40px 0;
}

.keuzevakkentabel img {
	height: 100px;
}

.banner {
	display: flex;
	background-color: #91002e;
	width: 100%;
	justify-content: center;
	margin: 10px 0 100px;
}

.banner2 {
	display: flex;
	background-color: #adadad;
	width: 100%;
	justify-content: center;
	margin: 220px 0 100px;
}

.text_banner {
	display: flex;
	flex-direction: column;
	align-items: start;
	width: 1200px;
	margin: 80px 0;
}

.text_banner p {
	width: 70%;
	color: white;
}

.text2 {
	background-color: #91002d;
}

.text3 {
	background-color: #91002d;
	padding: 30px;
	border-radius: 20px;
	width: 800px;
	margin-top: 170px;
}

.pijler h4 {
	width: 400px;
}

.pijler p {
	width: 600px;
	font-size: 16px;
}

.pijler {
	margin: 100px 0;
	justify-content: space-between;
	align-items: end;
	display: flex;
}

.artikels {
	display: flex;
	justify-content: center;
}

.artikel {
	width: 300px;
	background-color: #91002d;
	padding: 0 0 50px;
	margin: 110px 20px;

	border-radius: 20px;

	display: flex;
	flex-direction: column;
	align-items: center;

	transition-duration: 0.5s;
}



.artikel img {
	width: 100%;
	border-radius: 20px;
}

.artikel h4 {
	font-family: komet;
	font-weight: bold;
	font-size: 20px;
	margin: 20px 5px 0;
}

.artikel:hover {
	transform: scale(1.1);

	cursor: pointer;
}

.text4 {
	display: flex;
	justify-content: center;
	margin: 40px 0;
}

.text4 img {
	width: 60%;
	margin: 0 50px 0 0;
}

.text4 h2 {
	font-size: 52px;
}

.text4_1 {
	width: 350px;
}

.outerPic img {
	margin: 10px;
}

.outerPic {
	display: flex;
	justify-content: center;
	margin-bottom: 40px;
}

.leftPic {
	display: flex;
}

.rightPic {
	display: flex;
	flex-direction: column;
}

.rightPicRow {
	display: flex;
}
.bottomPic img {
	width: 0px;
}

.hamburger-menu {
	display: none;
	align-items: end;
	margin-left: 650px;
}

.hamburger-icon {
	cursor: pointer;
	padding: 10px;
}

.bar {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 6px 0;
	transition: 1s;
}

.menu-items {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 55px;
	right: 0;
	background-color: #91002d;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.menu-items a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
}
.carousel,
.carouselInner,
.carousel-item {
	height: 50vh;
	z-index: -1;
	margin-top: 70px;
}

@media only screen and (max-width: 768px) {
	body {
		overflow-x: hidden;
	}
	.header img {
		width: 100px;
		margin-left: -360px;
	}
	.artikels {
		flex-direction: column;
	}
	.artikel {
		width: 300px;
		background-color: #91002d;
		margin: 30px 230px;
		border-radius: 20px;
		display: flex;
		flex-direction: column;
		align-items: center;
		transition-duration: 0.5s;
	}
	.text_banner {
		display: flex;
		flex-direction: column;
		align-items: start;
		width: 1300px;
		margin: 80px 40px;
	}
	.wrapper {
		width: 750px;
	}
	.text4 img {
		width: 500px;
		margin-left: 80px;
		margin-bottom: 40px;
	}
	.text4 {
		display: flex;
		justify-content: start;
		margin: 0px 40px;
		flex-direction: column;
	}
	.text4_1 {
		width: 680px;
	}

	.outerPic {
		flex-direction: row;
		width: 730px;
		margin-left: 10px;
	}
	.leftPic {
		height: 400px;
	}
	.leftPic img {
		width: 208px;
	}

	.leftPicStack {
		width: 208px;
		margin-right: 20px;
	}
	.bigLeftPic img {
		width: 210px;
	}
	.rightPicRow {
		display: flex;
		flex-direction: column;
		width: 240px;
	}
	.rightPic {
		height: 400px;
	}
	.rightLongImage {
		width: 0px;
	}
	.bottomPic {
		margin-bottom: 10px;
		width: 768px;
	}
	.bottomPic img {
		width: 680px;
		margin-left: 35px;
		margin-bottom: 70px;
	}

	.logo_top img:hover {
		margin-bottom: 6px;
		width: 110px;
	}
	.footer_text {
		margin-left: 40px;
	}
	.footer .middle_logo {
		margin-left: 20px;
	}
	.footer_text2 {
		margin-left: -90px;
		width: 150px;
	}
	.header {
		flex-direction: column;
		align-items: center;
	}

	.hamburger-menu {
		display: flex;
		margin-bottom: 10px;
	}

	.header nav {
		display: none;
	}

	.carousel.slide {
		margin-bottom: 200px;
	}

	.text4 img {
		width: 60%;
	}
}
