/* NAVIGATION */

nav {
	background-color: #92074c;
	padding: 12px;
	align-items: center;
	height: 80px;
	margin: 0;

	width: 95%;
	display: flex;
	justify-content: flex-end;
}

nav .btn-primary {
	margin: 0 5px;
}
