/* BASE LAYOUT FLEXBOX */

body {
	padding: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: auto;
	height: 1200px;
}

.logo_top img {
	margin: 20px 0 10px 20px;
	width: 180px;
	transition-duration: 0.35s;
	position: absolute;
	top: 5px;
}

.logo_top img:hover {
	margin-bottom: 6px;
	width: 190px;
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	height: 120px;
	margin: 0;
	width: 100%;
	background-color: #005f56;
	justify-content: center;
}

.footer {
	background-color: #005f56;
	display: flex;
	justify-content: center;
	margin: 100px 0 0 0;
	padding-top: 30px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
}

.footer .middle_logo {
	margin: 0 100px;
	align-items: center;
}

.footer .middle_logo img {
	margin: 10px 50px;
}

.text1 {
	background-color: #4d72ce;
	border-radius: 20px;
	height: 300px;
	width: 800px;
}

.contactus {
	border-radius: 12px;
	justify-content: center;
	position: relative;
	width: 100%;
	margin-top: 100px;
	align-self: center;
	margin: auto;
	width: 1100px;
	flex-direction: column;
}

.contactus .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.contactus .title h3 {
	font-weight: 500;
}
.form {
	border-radius: 15px;
}

.info {
	border-radius: 15px;
}

.map {
	align-items: flex-end;
}
.contact1 {
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: #005f56;
}
.contact2 {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.contact3 {

	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 20px;

}

.box {
	width: 1100px;
	border-radius: 12px;
	background-color: #005f56;
	display: flex;
	position: relative;
	margin-top: 20px;
}

.box1 {
	padding-left: 30px;
}

.contact h4 {
	font-weight: 500;
	font-size: 1.4rem;
	margin-bottom: 10px;
}

.titel {
	font-weight: 500;
	font-size: 1.4rem;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
}
/* form */
.formBox {
	position: relative;
	width: 100%;
}

.formBox .row50 {
	display: flex;
	gap: 20px;
}

.inputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 100%;
}

.formBox .row100 .inputBox {
	width: 100%;
}

.inputBox span {
	font-family: "komet", sans-serif;
	color: white;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}

.inputBox input {
	font-family: "komet", sans-serif;
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #005f56;
}
.inputBox textarea {
	font-family: "komet", sans-serif;
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #005f56;
	resize: none;
	min-height: 220px;
	margin-bottom: 10px;
}

.inputBox input[type="button"] {
	font-family: "komet", sans-serif;
	background-color: #e58cc1;
	color: white;
	border: none;
	font-size: 1em;
	max-width: 125px;
	font-weight: 500;
	border-radius: 10px;
	cursor: pointer;
	padding: 14px 15px;
}

.inputBox::placeholder {
	color: gray;
}

iframe {
	height: 300px;
	width: 150%;
}

.textje {
	text-align: center;
	color: #005f56;
	display: flex;
	align-items: center;
	flex-direction: column;
	padding-left: 30px;
	padding-right: 30px;
	margin-left: 420px;
	width: 740px;
}

.textjeh3 {
	justify-content: center;
	display: flex;
	border-radius: 12px;
	align-items: center;
	padding-top: 40px;
}
