/* BASE LAYOUT FLEXBOX */

body {
	padding: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: auto;
	height: 1200px;
}

.logo_top img {
	margin: 20px 0 10px 20px;
	width: 180px;
	transition-duration: 0.35s;
	position: absolute;
	top: 5px;
}

.logo_top img:hover {
	margin-bottom: 6px;
	width: 190px;
}

.header {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
	height: 120px;
	margin: 0;
	width: 100%;
	background-color: #91002d;
	justify-content: center;
}

.footer {
	background-color: #91002d;
	display: flex;
	justify-content: space-around;
	margin: 123px 0 0 0;
	padding-top: 30px;
}

.footer .middle_logo {
	margin: 0 100px;
	align-items: center;
}

.footer .middle_logo img {
	margin: 20px 20px;
}

.text1 {
	background-color: #91002d;
	border-radius: 20px;
	height: 300px;
	width: 800px;
}

.contactus {
	border-radius: 12px;
	justify-content: center;
	position: relative;
	width: 100%;
	margin-top: 100px;
	align-self: center;
	margin: auto;
	width: 1100px;
	flex-direction: column;
}

.contactus .title {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 2em;
}

.contactus .title h3 {
	font-weight: 500;
}
.form {
	border-radius: 15px;
}

.info {
	border-radius: 15px;
}

.map {
	align-items: flex-end;
}
.contact1 {
	border-radius: 12px;
	display: flex;
	flex-direction: column;
	padding: 20px;
	background-color: #91002d;
}
.contact2 {
	display: flex;
	flex-direction: column;
	padding: 20px;
}
.contact3 {
	align-items: center;
	display: flex;
	flex-direction: column;
	padding: 20px;
}

.box {
	width: 1100px;
	border-radius: 12px;
	background-color: #91002d;
	display: flex;
	position: relative;
	margin-top: 20px;
}

.box1 {
	padding-left: 30px;
}

.contact h4 {
	font-weight: 500;
	font-size: 1.4rem;
	margin-bottom: 10px;
}

.titel {
	font-weight: 500;
	font-size: 1.4rem;
	margin-top: 50px;
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 200px;
}
/* form */
.formBox {
	position: relative;
	width: 100%;
}

.formBox .row50 {
	display: flex;
	gap: 20px;
}

.inputBox {
	display: flex;
	flex-direction: column;
	margin-bottom: 10px;
	width: 100%;
}

.formBox .row100 .inputBox {
	width: 100%;
}

.inputBox span {
	font-family: "komet", sans-serif;
	color: white;
	margin-top: 10px;
	margin-bottom: 5px;
	font-weight: 500;
}

.inputBox input {
	font-family: "komet", sans-serif;
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #cccccc;
}
.inputBox textarea {
	font-family: "komet", sans-serif;
	padding: 10px;
	font-size: 1.1em;
	outline: none;
	border: 1px solid #cccccc;
	resize: none;
	min-height: 220px;
	margin-bottom: 10px;
}

.inputBox input[type="button"] {
	font-family: "komet", sans-serif;
	background-color: #cccccc;
	color: #91002d;
	border: none;
	font-size: 1em;
	max-width: 125px;
	font-weight: 500;
	border-radius: 10px;
	cursor: pointer;
	padding: 14px 15px;
}

.inputBox::placeholder {
	color: #cccccc;
}

iframe {
	height: 300px;
	width: 150%;
}

.textje {
	display: flex;
	text-align: center;
	align-items: center;
	flex-direction: column;
	color: black;
	position: relative;
	margin-top: 20px;
	width: 740px;
}

.textjeh3 {
	justify-content: center;
	display: flex;
	flex-direction: column;
	border-radius: 12px;
	align-items: center;
	padding-top: 40px;
}
.hamburger-menu {
	display: none;
	align-items: end;
	margin-left: 650px;
}

.hamburger-icon {
	cursor: pointer;
	padding: 10px;
}

.bar {
	width: 25px;
	height: 3px;
	background-color: #fff;
	margin: 6px 0;
	transition: 1s;
}

.menu-items {
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 55px;
	right: 0;
	background-color: #91002d;
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
	z-index: 1;
}

.menu-items a {
	text-decoration: none;
	color: #fff;
	font-size: 16px;
	margin-bottom: 10px;
}
