/* BASE LAYOUT FLEXBOX */

body {
	padding: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: auto;
	max-width: 1200px;
	height: 1200px;
}

.logo_top img {
	margin: 20px 0 10px 20px;
	width: 135px;
	transition-duration: 0.35s;
}

.logo_top img:hover {
	margin-bottom: 6px;
	width: 145px;
}

.header {
	display: flex;
	align-content: start;
	flex-wrap: wrap;
	height: 600px;
	background-image: url("../pattern1.1.png");
}

.footer {
	background-color: #c81b71a2;
	display: flex;
	flex: 1 ;
	justify-content: center;
	margin: 20px 0 0 0;
	padding-top: 40px;
}

.footer .middle_logo {
	margin: 0 100px;
	align-items: center;
}

.footer .middle_logo img {
	margin: 10px 10px;
}

.text1 {
	background-color: #c81b7170;
	padding: 15px;
	margin: 20px;
	border-radius: 20px;
}

.head3 {
	background-color: #f9a31a;
	width: 400px;
	margin: 20px;
	padding: 15px;
	border-radius: 20px;
}

.head4 {
	background-color: #c81b71a2;
	width: 250px;
	margin: 20px;
	padding: 15px;
	border-radius: 20px;
}