/* BASE LAYOUT FLEXBOX */

body {
	margin: 20px;
	background-color: #c81b717e;
	display: flex;
	flex-direction: column;
}

.logo_top img {
	width: 135px;
	transition-duration: 0.35s;
}

.logo_top img:hover {
	width: 140px;
}

.header {
	display: flex;
	align-items: center;
}
