/* BASE LAYOUT FLEXBOX */

body {
	padding: 0;
	display: flex;
	flex: 1;
	flex-direction: column;
	margin: auto;
	max-width: 1200px;
	height: 1200px;
}

.logo_top img {
	margin: 20px 0 10px 20px;
	width: 135px;
	transition-duration: 0.35s;
}

.logo_top img:hover {
	margin-bottom: 6px;
	width: 145px;
}

.header {
	display: flex;
	align-content: start;
	flex-wrap: wrap;
	height: 600px;
	background-image: url("../pattern1.1.png");
}

.footer {
	background-color: #c81b71a2;
	display: flex;
	flex: 1 1 1;
	justify-content: space-between;
}
