/* BUTTONS */

.btn-primary {
    background-color: #F9A31A;
    padding: 5px 10px;
    border-radius: 5px;

    font-family: komet;
    font-weight: bold;
    color: white;
    text-decoration: none;

    width:60px;
    display: flex;

    justify-content: center;

    transition-duration: .35s;

    margin: 0;
}

.btn-primary:hover {
    background-color: white;
    color: #F9A31A;
    text-decoration: none;
    font-size: 17px;
}
