/* NAVIGATION */

nav {
	background-color: #c81b71;
	border-radius: 10px;
	padding: 12px;
	align-items: center;

	width: 500px;

    margin: 0px 50px 0 auto;


	display: flex;

	justify-content: space-around;
}
