/* TYPOGRAPHY */
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url("https://use.typekit.net/wsd7bqd.css");

h1 {
    font-family: Dela gothic one;
    color: #C81B71;
    font-size: 150px;
}

h2 {
    font-family: Dela gothic one;
    color: #F9A31A;
    font-size: 75px;
}

h3 {
    font-family: Dela gothic one;
    color: white;
    font-size: 50px;



}

h4 {
    font-family: Dela gothic one;
    color: white;
    font-size: 35px;


}

h5 {
}

h6 {
}

p {
    font-family: komet;
    font-weight: bold;
    font-size: 14px;
    color: white;


   
    padding: 20px;
    border-radius: 30px;
}

a {
    font-family: "komet", sans-serif;
    color: #C81B71;
    text-decoration: underline;
    font-weight: bold;
    transition-duration: .25s;
}

a:hover {
    color: #F9A31A;
}

a img {
    width: 9px;
}

li {
    font-family: "komet", sans-serif;
    color: #C81B71;
    list-style-image: url(../Asset\ 3.svg);
    font-weight: bold;
}

nav a {
    color: white;
    text-decoration: none;  
    margin: 0 auto;
    text-align: center;
    transition-duration: .5s;
}

nav a:hover {
    color: #F9A31A;
    text-decoration: underline;
    font-size: 17px;
}
